@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
}
li a {
   position: relative;
   color: white;
   font-weight: 300;
}
.h1{
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 5rem;
    align-items: center;
    background-color: rgba(0,0,0,0.8);
    backdrop-filter: blur(8px);
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 3rem;
    z-index: 1000;
}

.logo{
    color: white;
    font-size: 1.3rem;
    font-weight: 600;
    text-wrap: nowrap;
    transition: 0.3s ease-in-out;
}

.logo:hover{
    transform: scale(1.1);
}

.NAVLINK{
    gap: 2rem;
    display: flex;
}

li a::before{
    position: absolute;
    content: '';
    width: 0;
    left: 0;
    height: 5px;
    top: 25px;
    border-radius: 1rem;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(to right, #D1913C,#FFD194);
}

li a:hover::before{
    width: 100%;
}

.visit-button{
    padding: 0.8rem 1.5rem;
    border-radius: 3rem;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    color: white;
    cursor: pointer;
    text-wrap: nowrap;
    transition-timing-function: 0.3 ease-in-out;
    background: linear-gradient(to right, #D1913C,#FFD194);

}

.visit-button:hover{
    transform: scale(1.03);
    background: linear-gradient(to right, #FFD194,#D1913C);
}

#menu-icon{
    font-size: 2rem;
    display: none;
}

/* the end of the header section */

/*start of about me section*/

.signature {
    cursor: pointer;
    width: 150px;
    height: auto;
    order: 3;
    margin-left: auto;
}
.hero {
    height: 100vh;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 2rem;
  }
.hero-content h1{
    font-size: 3rem;
    margin-bottom: 1rem;
    font-family: "Montserrat",sans-serif;
}

.hero-content p{
    font-size: 1.25rem;
    margin-bottom: 2rem;

}
.herobtn {
    background-color: white;
    color: #4f46e5;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
  }
  
.herobtn:hover {
    background-color: #e0e7ff;
  }

  .zecarias{
    height: 300px;
    width: 250px;
  }